@model IEnumerable<EasyAppointmentManager.Models.CustomerAppointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerAppointmentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSlot.TimeSlotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerAppointmentStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerAppointmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerAppointmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerAppointmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
