@model EasyAppointmentManager.Models.Clinic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClinicCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.ClinicId">Edit</a>
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model?.ClinicId">Delete</a>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
