@model IEnumerable<Clinic>

@{
    ViewData["Title"] = "Clinic Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h1>Clinic Index</h1>

<p>
    <a asp-action="Create">Create A New Clinic</a>
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClinicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClinicCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
             <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ClinicId">Edit</a>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ClinicId">Details</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ClinicId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
