@model TimeSlotIndexViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TimeSlot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TimeSlotId" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
    </form>
    <div>
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.TimeSlotId">Edit</a>
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </div>
</div>
