@model TimeSlotIndexViewModel

@{
    ViewData["Title"] = "Edit: TimeSlot";
}

<h1>Edit: TimeSlot</h1>

<h4>TimeSlot</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TimeSlotId" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeSlotDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlotStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.RadioButtonFor(model => model.TimeSlotStatus, TimeslotStatus.Available)
            <span>Available</span>

            <span>&emsp;</span>

            @Html.RadioButtonFor(model => model.TimeSlotStatus, TimeslotStatus.Booked)
            <span>Booked</span>
        </dd>
    </dl>


    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-warning" />
    </div>
</form>


<!--
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimeSlotId" />
            <div class="form-group">
                <label asp-for="TimeSlotDate" class="control-label"></label>
                <input asp-for="TimeSlotDate" class="form-control" />
                <span asp-validation-for="TimeSlotDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlotStatus" class="control-label"></label>
                @Html.RadioButtonFor(model => model.TimeSlotStatus, TimeslotStatus.Available)
                <span>Available</span>

                <span>&emsp;</span>

                @Html.RadioButtonFor(model => model.TimeSlotStatus, TimeslotStatus.Booked)
                <span>Booked</span>
                <span asp-validation-for="TimeSlotStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
-->


<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model?.TimeSlotId">Delete</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
