@model AppointmentCreateViewModel

@{
    ViewData["Title"] = "Create a new appointment";
}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timeslot" class="control-label"></label>
                <input asp-for="Timeslot" class="form-control" />
                <span asp-validation-for="Timeslot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Customers</label>
                <select>
                    @foreach(Customer cus in Model.AllAvailableCustomers)
                    {
                        <option value="@cus.CustomerId">@cus.FullName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Clinics</label>
                <select>
                    @foreach (Clinic clinic in Model.AllAvailableClinics)
                    {
                        <option value="@clinic.ClinicId">@clinic.ClinicName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Services</label>
                <select>
                    @foreach (Service service in Model.AllAvailableServices)
                    {
                        <option value="@service.ServiceId">@service.ServiceName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Doctors</label>
                <select>
                    @foreach (Doctor doc in Model.AllAvailableDoctors)
                    {
                        <option value="@doc.DoctorID">@doc.FullName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
