@model AppointmentCreateViewModel

@{
    ViewData["Title"] = "Create a new appointment";

    List<SelectListItem> customers = new();
    foreach (Customer cus in Model.AllAvailableCustomers)
    {
        customers.Add(
            new SelectListItem()
                    {
                        Value = cus.CustomerId.ToString(),
                        Text = cus.Info
                    }
        );
    }
    

}

<h1>Create</h1>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" min="@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(100).ToString("yyyy-MM-dd")" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Timeslot" class="control-label"></label>
                <input asp-for="Timeslot" class="form-control" />
                <span asp-validation-for="Timeslot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Customers</label>
                <select asp-for="ChosenCustomer" class="form-control" asp-items="customers">
                </select>
            </div>
            <div class="form-group">
                <label>Clinics</label>
                <select asp-for="ChosenClinic" class="form-control">
                    @foreach (Clinic clinic in Model.AllAvailableClinics)
                    {
                        <option value="@clinic.ClinicId">@clinic.ClinicName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Services</label>
                <select asp-for="ChosenService" class="form-control">
                    @foreach (Service service in Model.AllAvailableServices)
                    {
                        <option value="@service.ServiceId">@service.ServiceName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Doctors</label>
                <select asp-for="ChosenDoctor" class="form-control">
                    @foreach (Doctor doc in Model.AllAvailableDoctors)
                    {
                        <option value="@doc.DoctorId">@doc.FullName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
